.navigation-top {
  overflow: hidden;
  background-color: #333;
}

.navigation-top > .nav-links {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigation-top > .nav-links:hover {
  background-color: rgb(161, 0, 0);
}

.navigation-top a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
